body {
    background: white;
}

.main { 
    width: 350px;
    height: 350px;
    border: 1px solid #CCC;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
}

.payment-items {
    border: 1px solid #ccc;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.payment-icon {
    width: 40px;
    height: 30px;
    border: 2px solid #d3235f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-icon-circle {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 2px solid #d3235f;
}

.airbnb-logo {
    width: 50px;
    height: 50px;
    animation: logo-animation 0.3s linear;
}

.text {
    width: auto;
    border: 1px solid #ccc;
    position: relative;
    font-size: large;
    font-family: 'airbnbCereal';
}

@font-face {
    font-family: 'airbnbCereal';
    src: url('AirbnbCereal.ttf') format('truetype');
}


@keyframes logo-animation {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
        transform: translate(0px);
    }
    100% {
        opacity: 0;
        transform: translate(-30px);
    }
}